.payments{
    alignment: center;
}

.userDataForBuyin {
    width:300px;
    position: absolute;
    top: 50px;
    left: 30%;
    padding: 50px;
    border: 5px double darkblue;
}

.paypalSection {
    position: relative;
    top: 40px;
    left: 30px;
}

.userDataForBuyin input[type=file],input[type=text] {
    margin-top: 9px;
    width:70%;
}

.userDataForBuyin label{
    color:black;
}

.userDataForBuyin img{
    width: 200px;
    padding-top: 10px;
    color: black;
}

.userDataForBuyin input[type=file] {
    border-radius: 5px;
    color: black;
    padding:5px 5px 5px 0;
}

.userDataForBuyin input[type=submit]{
    position: relative;
    left: -100px;
    top: 30px;
}