
.serverResult {
    position: relative;
    border: 2px solid;
    border-radius: 30px;
    margin-top: 20px;
    font-size:16px;
    width: 100%;
    background-color: #1E6899;
}

.serverResult-head{
    position: relative;
    top:0;
    left:50%;
    -webkit-transform:translateX(-50%);
    width:100%;
}

.serverResult h1{
    margin:10px;
    text-align:center;
}

.testResults {
    position: relative;
    display: inline-block;
    left:50%;
    -webkit-transform:translateX(-48%);
    padding: 2%;
    border-radius: 30px;
    width:100%;
}

.testResult {
    position: relative;
    border-radius: 30px;
    font-size: 14px;
    width: 30%;
    text-align: center;
    float: left;
    margin:5px;
}

.testResult h2 {
    padding: 5px;
}
