
.sideMenu{
    position: fixed;
    width: 10%;
    height: 50%;
    top:50%;
    left:-10%;
    color:white;
    background-color: #1E6899;
    border-radius: 0 50px 50px 0;
    -webkit-transition: left 0.5s linear,opacity 0.5s linear;
    -webkit-transform:translateY(-50%);
}

.sideMenu:hover{
    left:0;
}

/*.sideMenu.ng-hide {*/
    /*left:-10%;*/
    /*opacity: 0;*/
/*}*/

.sideMenu-open{
    position: absolute;
    top:50%;
    height: 50%;
    background-color: #1E6899;
    left:100%;
    float:right;
    width:30%;
    border-radius: 0 50px 50px 0;
    -webkit-transform:translateY(-50%);
}

.sideMenu-open h1{
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.sideMenu-options{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    text-align: center;
}

.sideMenu-options a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 20%;
    text-align: center;

}

.sideMenu-options h1 {
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    color : white;
    border-radius: 20px 20px 20px 20px;
}

.sideMenu-options h1:hover{
    background-color: #485759;
}
