<div class="pixelSquare">
    <div ng-repeat="num in numbers">
        <img src="Images/grid.png" alt="Pixels" usemap="#pixelsMap{{num}}" style="opacity:0.4;">
        <map name="pixelsMap{{num}}" id="pixelsMap{{num}}" >
            <div class="areaSquare" ng-mousedown="startedMarking()" ng-mouseup="stoppedMarking($event)" ng-repeat="pixelItem in pixelsList[num]"
                 ng-click="buyPixel(pixelItem)" ng-style={'background-color':pixelItem.color} ng-mouseover="markToBuy(pixelItem)" >
                <area shape="rect" coords="{{pixelItem.areaText}}" href="{{pixelItem.linkPath}}" >
            </div>
        </map>
    </div>
</div>

