<div ng-controller="monitoringController">
    <div class="serverResult"  ng-repeat="serverResult in servers">
        <div class="serverResult-head">
            <h1>{{serverResult.ServerName}}</h1>
        </div>
        <div class="testResults">
            <div class="testResult" ng-style="{'background-color': test.Succeeded === true ? '#009933' : '#CC3300'}" ng-repeat="test in serverResult.Results">
                <h2 >{{test.TestName}}</h2>
            </div>
        </div>
    </div>
</div>